<!DOCTYPE html>
<html lang="tl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balik-Wika</title>
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('landing.static', filename='contactus-style.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('landing.static', filename='bwlogo.png') }}" alt="Balik-Wika Logo">
    <nav>
      <a href="{{ url_for('landing.home') }}">Home</a>
      <a href="{{ url_for('landing.layunin') }}">Layunin</a>
      <a href="{{ url_for('landing.contactus') }}">Contact us</a>
    </nav>
  </header>

  <section class="main-content">
    <h1>Contact us</h1>
    <div class="info-box">
      balikwika@gmail.com
    </div>
  </section>
</body>
</html>
