<!DOCTYPE html>
<html lang="tl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balik-Wika</title>
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('landing.static', filename='landing-style.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('landing.static', filename='bwlogo.png') }}" alt="Balik-Wika Logo">
    <nav>
      <a href="{{ url_for('landing.home') }}">Home Lorence1</a>
      <a href="{{ url_for('landing.layunin') }}">Layunin</a>
      <a href="{{ url_for('landing.contactus') }}">Contact us</a>
    </nav>
    <a href="{{ url_for('login') }}" class="login-btn">MAG LOG-IN ➜</a>
  </header>

  <section class="main-content">
    <h1 style="max-width: 600px; margin: auto; line-height: 1.4;">Tara na’t mag<br> <span class="highlight">Balik</span>-<span class="yellow">Wika</span></h1>
    <p style="max-width: 410px; margin: auto; line-height: 1.4; font-size: 16px;">Matutong magsalita ng Filipino sa masaya at madaling paraan. Tuklasin ang mga aralin, sagutan ang mga pagsusulit, at alamin ang ating kultura—isang salita sa bawat hakbang!</p>
    <br>
    <a href="{{ url_for('signup') }}" class="login-btn">MAGSIMULA ➜</a>

    <div class="boxes">
      <div class="box">
        <h2>Mga masayang Pagsusulit</h2>
        <p>Subukan ang iyong galing sa Filipino sa pamamagitan ng mga masasayang pagsusulit! Sagutin ang mga tanong matapos ang bawat aralin at tingnan kung gaano na ang iyong natutunan.</p>
      </div>
      <div class="box">
        <h2>Mga kaalamang kultural</h2>
        <p>Tuklasin ang yaman ng kulturang Pilipino! Mula sa kasaysayan, tradisyon, hanggang sa mga kaugalian—alamin at pahalagahan ang ating pinagmulan.</p>
      </div>
    </div>
    <a href="{{ url_for('landing.static', filename='userguide(student).pdf') }}" download="userguide.pdf" class="help-button">?</a>
  </section>
</body>
</html>
